#  Variables

In [1]:
a = 2.5
b = 20
name = "Arezoo"  # or 'Arezoo'
family = 'Dahesh' # or "Dahesh"

## `Comment`

In [2]:
# این جمله، یک کامنت تک خطی است :)

In [3]:
# این کامنت
# یک کامنت
# چند خطی هست

In [4]:
"""این کامنت
یک کامنت
چند خطی هست"""

'این کامنت\nیک کامنت\nچند خطی هست'

## `Case sensitive`

In [5]:
grade = 18.75
Grade = "Very Good"

In [6]:
print(grade)

18.75

In [7]:
print(Grade)

Very Good

## `Print()`

In [8]:
x = 10
y = 15
z = 2

In [9]:
print(x)

10

In [10]:
print(x, y, z)

10 15 2

In [11]:
print(x+y+z)

27

In [12]:
tmp_1, tmp_2, tmp_3 = 10, 2.89, 'variable'

In [13]:
# اگر از پرینت استفاده نکنید فقط مقدار آخرین متغیر را چاپ می کند

tmp_1
tmp_2
tmp_3

'variable'

In [14]:
print(tmp_1)
print(tmp_2)
print(tmp_3)

10
2.89
variable

In [15]:
A = B = C = "Python 3"

In [16]:
print(A)
print(B)
print(C)

Python 3
Python 3
Python 3

In [17]:
courseName = "Python"
version = "3.9.13"

In [18]:
print(courseName+version)

Python3.9.13

In [19]:
print(courseName+" "+version)

Python 3.9.13

In [20]:
courseName = "Python "
version = "3.9.13"

In [21]:
print(courseName+version)

Python 3.9.13

## `Variable name`

In [22]:
# 1. camelCase

secondCourseName = "Machine learning"

In [23]:
# 2. PascalCase

SecondCourseName = "Machine learning"

In [24]:
# 3. snake_case

second_course_name = "Machine learning"

## `Data types`

<table style="border:1px solid black; border-collapse: collapse; font-size:12pt; font-family:Cambria, Georgia, serif;">
  <!--<tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>-->
  <tr>
    <td style="text-align: left">Text Type</td>
    <td style="text-align: left"><strong>str</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Numeric Types</td>
    <td style="text-align: left"><strong>int</strong>, <strong>float</strong>, <strong>complex</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Sequence Types</td>
    <td style="text-align: left"><strong>list</strong>, <strong>tuple</strong>, <strong>range</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Mapping Type</td>
    <td style="text-align: left"><strong>dict</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Set Types</td>
    <td style="text-align: left"><strong>set</strong>, <strong>frozenset</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Boolean Type</td>
    <td style="text-align: left"><strong>bool</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Binary Types</td>
    <td style="text-align: left"><strong>bytes</strong>, <strong>bytearray</strong>, <strong>memoryview</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">None Type</td>
    <td style="text-align: left"><strong>NoneType</strong></td>
  </tr>
</table>

In [25]:
a = 150
print('type(a) is ->', type(a))

b = -3.87
print('type(b) is ->', type(b))

c = 'Hello world'
print('type(c) is ->', type(c))

d = True
print('type(d) is ->', type(d))

e = ['a', 'b', 'c']
print('type(e) is ->', type(e))

type(a) is -> <class 'int'>
type(b) is -> <class 'float'>
type(c) is -> <class 'str'>
type(d) is -> <class 'bool'>
type(e) is -> <class 'list'>

In [26]:
# format() function

print('type(a) is -> {}'.format(type(a)))

type(a) is -> <class 'int'>

## `Casting`

In [27]:
var_1 = int("3")
var_2 = int(8.6)
var_3 = int(10)

In [28]:
print('var_1 is {} and type(var_1) is -> {}'.format(var_1, type(var_1)))
print('var_2 is {} and type(var_2) is -> {}'.format(var_2, type(var_2)))

# format() with index
print('var_3 is {1} and type(var_3) is -> {0}'.format(type(var_3), var_3))

var_1 is 3 and type(var_1) is -> <class 'int'>
var_2 is 8 and type(var_2) is -> <class 'int'>
var_3 is 10 and type(var_3) is -> <class 'int'>

In [29]:
var_4 = int("A")
print('type(var_4) is -> {}'.format(type(var_4)))

ValueError: invalid literal for int() with base 10: 'A'

In [30]:
var_5 = float("9.45")
var_6 = float(8.6)
var_7 = float(-2.387)
var_8 = float("10")
var_9 = float(72)

In [31]:
print('var_5 is {} and type(var_5) is -> {}'.format(var_5, type(var_5)))
print('var_6 is {} and type(var_6) is -> {}'.format(var_6, type(var_6)))
print('var_7 is {} and type(var_7) is -> {}'.format(var_7, type(var_7)))
print('var_8 is {} and type(var_8) is -> {}'.format(var_8, type(var_8)))
print('var_9 is {} and type(var_9) is -> {}'.format(var_9, type(var_9)))

var_5 is 9.45 and type(var_5) is -> <class 'float'>
var_6 is 8.6 and type(var_6) is -> <class 'float'>
var_7 is -2.387 and type(var_7) is -> <class 'float'>
var_8 is 10.0 and type(var_8) is -> <class 'float'>
var_9 is 72.0 and type(var_9) is -> <class 'float'>

In [32]:
var_10 = str("A")
var_11 = str(8.6)
var_12 = str(-2)

In [33]:
print('var_10 is {} and type(var_10) is -> {}'.format(var_10, type(var_10)))
print('var_11 is {} and type(var_11) is -> {}'.format(var_11, type(var_11)))
print('var_12 is {} and type(var_12) is -> {}'.format(var_12, type(var_12)))

var_10 is A and type(var_10) is -> <class 'str'>
var_11 is 8.6 and type(var_11) is -> <class 'str'>
var_12 is -2 and type(var_12) is -> <class 'str'>

In [34]:
var_11

'8.6'

In [35]:
var_12

'-2'