## `Data types`

<table style="border:1px solid black; border-collapse: collapse; font-size:12pt; font-family:Cambria, Georgia, serif;">
  <!--<tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>-->
  <tr>
    <td style="text-align: left">Text Type</td>
    <td style="text-align: left"><strong>str</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Numeric Types</td>
    <td style="text-align: left"><strong>int</strong>, <strong>float</strong>, <strong>complex</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Sequence Types</td>
    <td style="text-align: left"><strong>list</strong>, <strong>tuple</strong>, <strong>range</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Mapping Type</td>
    <td style="text-align: left"><strong>dict</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Set Types</td>
    <td style="text-align: left"><strong>set</strong>, <strong>frozenset</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Boolean Type</td>
    <td style="text-align: left"><strong>bool</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">Binary Types</td>
    <td style="text-align: left"><strong>bytes</strong>, <strong>bytearray</strong>, <strong>memoryview</strong></td>
  </tr>
  <tr>
    <td style="text-align: left">None Type</td>
    <td style="text-align: left"><strong>NoneType</strong></td>
  </tr>
</table>

## Numeric Types

## `Int`

In [1]:
a = 1
b = 258
c = -53
d = 587436912

In [2]:
print('type(a) is ->', type(a))
print('type(b) is ->', type(b))
print('type(c) is ->', type(c))
print('type(d) is ->', type(d))

type(a) is -> <class 'int'>
type(b) is -> <class 'int'>
type(c) is -> <class 'int'>
type(d) is -> <class 'int'>

## `Float`

In [8]:
e = 300.26
f = 12.0
g = -53.4536

h = 21e3
i = 5E2
j = 324.6e10

In [9]:
print('e is ->', e)
print('f is ->', f)
print('g is ->', g)
print("\n")
print('h is ->', h)
print('i is ->', i)
print('j is ->', j)

e is -> 300.26
f is -> 12.0
g is -> -53.4536


h is -> 21000.0
i is -> 500.0
j is -> 3246000000000.0

In [10]:
print('type(e) is ->', type(e))
print('type(f) is ->', type(f))
print('type(g) is ->', type(g))
print('type(h) is ->', type(h))
print('type(i) is ->', type(i))
print('type(j) is ->', type(j))

type(e) is -> <class 'float'>
type(f) is -> <class 'float'>
type(g) is -> <class 'float'>
type(h) is -> <class 'float'>
type(i) is -> <class 'float'>
type(j) is -> <class 'float'>

## `Complex`

In [11]:
k = 78+3j
l = 9j
m = -4j

In [12]:
print('k is ->', k)
print('l is ->', l)
print('m is ->', m)

k is -> (78+3j)
l is -> 9j
m is -> (-0-4j)

In [13]:
print('type(k) is ->', type(k))
print('type(l) is ->', type(l))
print('type(m) is ->', type(m))

type(k) is -> <class 'complex'>
type(l) is -> <class 'complex'>
type(m) is -> <class 'complex'>

In [14]:
num_1 = 97
num_2 = 24.21
num_3 = 4+5j

In [15]:
print('num_1 is ->', num_1)
print('num_2 is ->', num_2)
print('num_3 is ->', num_3)

num_1 is -> 97
num_2 is -> 24.21
num_3 is -> (4+5j)

In [17]:
x = int(num_2)
print('x is ->', x)
print('type(x) is ->', type(x))

x is -> 24
type(x) is -> <class 'int'>

In [19]:
y = float(num_1)
print('y is ->', y)
print('type(y) is ->', type(y))

y is -> 97.0
type(y) is -> <class 'float'>

In [20]:
z = complex(num_1)
print('z is ->', z)
print('type(z) is ->', type(z))

z is -> (97+0j)
type(z) is -> <class 'complex'>

-----------------------------------------------------------------------------

نمی توان اعداد مختلط را به عدد صحیح یا اعشاری تبدیل کرد

In [23]:
error_1 = int(num_3)

TypeError: can't convert complex to int

In [24]:
error_2 = float(num_3)

TypeError: can't convert complex to float