### Tuples items:
- Ordered
- Unchangeable
- Allow duplicate values

In [1]:
# 1
cities = ("Isfahan", "Tehran", "Shiraz", "Rasht", "Semnan", "Ahvaz")
ages = (18, 30, 19, 25, 29, 30)
is_student = (True, False, False, True)
student_1 = ("Aram", 25, True, "Booshehr", 19.5)

In [2]:
# 2
chart_type = tuple(("line", "bar", "pie", "histogram", "scatter"))
# chart_type = tuple(["line", "bar", "pie", "histogram", "scatter"])
print(chart_type)

('line', 'bar', 'pie', 'histogram', 'scatter')

In [3]:
tuple_1 = ("Pink")
print(tuple_1)
print(type(tuple_1))

Pink
<class 'str'>

In [4]:
tuple_2 = ("Pink",)
print(tuple_2)
print(type(tuple_2))

('Pink',)
<class 'tuple'>

In [5]:
# empty tuple

# tuple_1 = ()
# tuple_2 = tuple()

## `Length`

In [6]:
len(cities)

6

In [7]:
len(is_student)

4

In [8]:
len(student_1)

5

## `type()`

In [9]:
print("type(cities) is", type(cities))
print("type(ages) is", type(ages))
print("type(is_student) is", type(is_student))
print("type(student_1) is", type(student_1))
print("type(chart_type) is", type(chart_type))

type(cities) is <class 'tuple'>
type(ages) is <class 'tuple'>
type(is_student) is <class 'tuple'>
type(student_1) is <class 'tuple'>
type(chart_type) is <class 'tuple'>

----------------------------------------

## 1. Tuple items are `ordered`

In [10]:
print(cities)

('Isfahan', 'Tehran', 'Shiraz', 'Rasht', 'Semnan', 'Ahvaz')

In [11]:
cities[0]

'Isfahan'

In [12]:
cities[1]

'Tehran'

In [13]:
cities[-1]

'Ahvaz'

In [14]:
cities[1:4]

('Tehran', 'Shiraz', 'Rasht')

In [15]:
cities[3:]

('Rasht', 'Semnan', 'Ahvaz')

In [16]:
cities[:3]

('Isfahan', 'Tehran', 'Shiraz')

In [17]:
cities[-5:-1]

('Tehran', 'Shiraz', 'Rasht', 'Semnan')

In [18]:
cities[-5:]

('Tehran', 'Shiraz', 'Rasht', 'Semnan', 'Ahvaz')

In [19]:
cities[:-2]

('Isfahan', 'Tehran', 'Shiraz', 'Rasht')

In [20]:
cities[:]

('Isfahan', 'Tehran', 'Shiraz', 'Rasht', 'Semnan', 'Ahvaz')

In [21]:
cities[::2]

('Isfahan', 'Shiraz', 'Semnan')

In [22]:
cities[::-1]

('Ahvaz', 'Semnan', 'Rasht', 'Shiraz', 'Tehran', 'Isfahan')

## 2. `Duplicate values` can be in tuple

In [23]:
print(ages)

(18, 30, 19, 25, 29, 30)

In [24]:
ages[1]

30

In [25]:
ages[5]

30

## 3. Tuple items are `not changeable` 
But there is a solution

## `Change items`

In [26]:
print(chart_type)

('line', 'bar', 'pie', 'histogram', 'scatter')

In [27]:
chart_type_list = list(chart_type)
chart_type_list

['line', 'bar', 'pie', 'histogram', 'scatter']

In [28]:
# xxx
chart_type_2 = chart_type_list

# 1
chart_type_3 = chart_type_list.copy()

# 2
chart_type_4 = list(chart_type_list)

In [29]:
print('chart_type_list[-1] is', chart_type_list[-1])
print("-"*30)
chart_type_list[-1] = "box"

chart_type = tuple(chart_type_list)
print('New chart_type ->', chart_type)

chart_type_list[-1] is scatter
------------------------------
New chart_type -> ('line', 'bar', 'pie', 'histogram', 'box')

In [30]:
chart_type_list = chart_type_3.copy()
print('chart_type_list:')
print(chart_type_list)
print("-"*30)

print('chart_type_list[1:3]:')
print(chart_type_list[1:3])
print("-"*30)

chart_type_list[1:3] = ['area', 'bubble chart']
print('new chart_type:')
chart_type = tuple(chart_type_list)
print(chart_type)

chart_type_list:
['line', 'bar', 'pie', 'histogram', 'scatter']
------------------------------
chart_type_list[1:3]:
['bar', 'pie']
------------------------------
new chart_type:
('line', 'area', 'bubble chart', 'histogram', 'scatter')

In [31]:
chart_type_list = chart_type_3.copy()
print('chart_type_list:')
print(chart_type_list)
print('len(chart_type_list) => ', len(chart_type_list))
print("-"*30)

print('chart_type_list[2:3]:')
print(chart_type_list[2:3])
print("-"*30)

chart_type_list[2:3] = ['area', 'bubble chart']
print('new chart_type:')
chart_type = tuple(chart_type_list)
print(chart_type)

chart_type_list:
['line', 'bar', 'pie', 'histogram', 'scatter']
len(chart_type_list) =>  5
------------------------------
chart_type_list[2:3]:
['pie']
------------------------------
new chart_type:
('line', 'bar', 'area', 'bubble chart', 'histogram', 'scatter')

In [32]:
chart_type_list = chart_type_3.copy()
print('chart_type_list:')
print(chart_type_list)
print('len(chart_type_list) => ', len(chart_type_list))
print("-"*30)

print('chart_type_list[1:3]:')
print(chart_type_list[1:3])
print("-"*30)

chart_type_list[1:3] = ['area']
print('new chart_type:')
chart_type = tuple(chart_type_list)
print(chart_type)
print('len(chart_type) => ', len(chart_type))

chart_type_list:
['line', 'bar', 'pie', 'histogram', 'scatter']
len(chart_type_list) =>  5
------------------------------
chart_type_list[1:3]:
['bar', 'pie']
------------------------------
new chart_type:
('line', 'area', 'histogram', 'scatter')
len(chart_type) =>  4

## `Add items`

The first solution

In [33]:
# insert()
# type(chart_type_3) -> list

chart_type_list = chart_type_3.copy()
print('chart_type_list:')
print(chart_type_list)
print("-"*30)

chart_type_list.insert(1, 'doughnut')
print('new chart_type:')
chart_type = tuple(chart_type_list)
print(chart_type)

chart_type_list:
['line', 'bar', 'pie', 'histogram', 'scatter']
------------------------------
new chart_type:
('line', 'doughnut', 'bar', 'pie', 'histogram', 'scatter')

In [34]:
# append()
# type(chart_type_3) -> list

chart_type_list = chart_type_3.copy()
print('chart_type_list:')
print(chart_type_list)
print("-"*30)

chart_type_list.append('doughnut')
print('new chart_type:')
chart_type = tuple(chart_type_list)
print(chart_type)

chart_type_list:
['line', 'bar', 'pie', 'histogram', 'scatter']
------------------------------
new chart_type:
('line', 'bar', 'pie', 'histogram', 'scatter', 'doughnut')

In [35]:
colors_1 = ('Pink', 'Purple', 'Red')
colors_2 = ('Blue', 'Green', 'Orange')

colors_1.extend(colors_2)
print(colors_1)

AttributeError: 'tuple' object has no attribute 'extend'

In [36]:
colors_1 = ('Pink', 'Purple', 'Red')
colors_2 = ('Blue', 'Green', 'Orange')

# ****************
colors_1 = list(colors_1)
# ****************

colors_1.extend(colors_2)
print(colors_1)

['Pink', 'Purple', 'Red', 'Blue', 'Green', 'Orange']

In [37]:
colors_1 = tuple(colors_1)
print(colors_1)
print(type(colors_1))

('Pink', 'Purple', 'Red', 'Blue', 'Green', 'Orange')
<class 'tuple'>

The second solution

In [38]:
colors_1 = ('Pink', 'Purple', 'Red')
color = ('Orange',)
colors_1 = colors_1 + color

# Or
# colors_1 += color

print(colors_1)

('Pink', 'Purple', 'Red', 'Orange')

In [39]:
colors_1 = ('Pink', 'Purple', 'Red')
colors_2 = ('Blue', 'Green', 'Orange')

colors_3 = colors_1 + colors_2 
print(colors_3)

('Pink', 'Purple', 'Red', 'Blue', 'Green', 'Orange')

In [40]:
names = ('Ali', 'Zahra', 'Pavaneh')
grades = (18, 50, 30, 27)

result = names + grades 
print(result)

('Ali', 'Zahra', 'Pavaneh', 18, 50, 30, 27)

## `Remove items`

In [41]:
colors_1 = ('Pink', 'Purple', 'Red', 'Blue', 'Orange', 'Green')
print(colors_1)

('Pink', 'Purple', 'Red', 'Blue', 'Orange', 'Green')

In [42]:
colors_1_list = list(colors_1)
# ------------------------------

colors_1_list.remove('Orange')
colors_1 = tuple(colors_1_list)
print('colors_1 ->', colors_1)

colors_1 -> ('Pink', 'Purple', 'Red', 'Blue', 'Green')

In [43]:
# with index
tmp = colors_1_list.pop(1)

colors_1 = tuple(colors_1_list)
print('colors_1 ->', colors_1)
print("-"*30)
print('tmp ->', tmp)

colors_1 -> ('Pink', 'Red', 'Blue', 'Green')
------------------------------
tmp -> Purple

In [44]:
# without index
tmp = colors_1_list.pop()

colors_1 = tuple(colors_1_list)
print('colors_1 ->', colors_1)
print("-"*30)
print('tmp ->', tmp)

colors_1 -> ('Pink', 'Red', 'Blue')
------------------------------
tmp -> Green

In [45]:
del colors_1_list[1]

colors_1 = tuple(colors_1_list)
print(colors_1)

('Pink', 'Blue')

In [46]:
# type(colors_1_list) -> list

del colors_1_list

print(colors_1_list)

NameError: name 'colors_1_list' is not defined

In [47]:
# type(colors_1) -> tuple

del colors_1

print(colors_1)

NameError: name 'colors_1' is not defined

In [48]:
colors_1 = ('Pink', 'Purple', 'Red', 'Blue', 'Orange', 'Green')
print(colors_1)

('Pink', 'Purple', 'Red', 'Blue', 'Orange', 'Green')

In [49]:
colors_1_list = list(colors_1)
colors_1_list.clear()


colors_1 = tuple(colors_1_list)
print('colors_1 ->', colors_1)

colors_1 -> ()

------------------------------------------------------------------------

## `Check item in tuple`

In [50]:
print(ages)

(18, 30, 19, 25, 29, 30)

In [51]:
18 in ages

True

In [52]:
print('20 is ages ->', 20 in ages)
print('20 isn\'t ages ->', 20 not in ages)

20 is ages -> False
20 isn't ages -> True

## `Unpack Tuples`

In [53]:
libraries = ('pandas', 'numpy', 'sklearn', 'matplotlib', 'seaborn')
print(libraries)

('pandas', 'numpy', 'sklearn', 'matplotlib', 'seaborn')

In [54]:
(lib_1, lib_2, lib_3, lib_4, lib_5) = libraries

print(lib_1)
print(lib_2)
print(lib_3)
print(lib_4)
print(lib_5)

pandas
numpy
sklearn
matplotlib
seaborn

In [55]:
(lib_1, lib_2, lib_3, *lib_4) = libraries

print(lib_1)
print(lib_2)
print(lib_3)
print(lib_4)

pandas
numpy
sklearn
['matplotlib', 'seaborn']

In [56]:
# ('pandas', 'numpy', 'sklearn', 'matplotlib', 'seaborn')
(lib_1, *lib_2, lib_3) = libraries

print(lib_1)
print(lib_2)
print(lib_3)

pandas
['numpy', 'sklearn', 'matplotlib']
seaborn

In [57]:
# **

duplicate = libraries * 2
print(duplicate)

('pandas', 'numpy', 'sklearn', 'matplotlib', 'seaborn', 'pandas', 'numpy', 'sklearn', 'matplotlib', 'seaborn')

------------------------------------------------

Methods for tuple -> https://www.w3schools.com/python/python_tuples_methods.asp

## `Simple practice`

In [59]:
musical_instrument = ('Guitar', 'Piano', 'Violon', 'Drums', 'Cello', 'Accordian')

- طول تاپل را به دست آورید. با چه دستوری طول را حساب کردید؟
--------------------------------------------------

- عنصر آخر تاپل را برگردانید
--------------------------------------------------

- عناصر دوم تا پنجم تاپل را برگردانید. از اندیس منفی اسنفاده کنید
--------------------------------------------------

- خروجی دستورات زیر چیست؟

musical_instrument[:2]

musical_instrument[4:]

musical_instrument[0:3]

--------------------------------------------------
- ساز زیر را به مکان دوم تاپل مذکور اضافه کنید

'Keyboard'

--------------------------------------------------

-  عناصر تاپل بالا را در چهار متغیر قرار دهید به گونه ای که متغیر دوم از جنس لیست باشد 
--------------------------------------------------

- تاپل مورد بررسی را به صورت صعودی مرتب کنید