### Dictionaries items:
- Ordered
- Changeable
- Does not allow duplicates

In [1]:
# dictionary = {key:value}

In [2]:
# 1
student = {"name" : "Aram", 
           "age" : 25, 
           "is_student" : True, 
           "city" : "Isfahan", 
           "grade" : 18.75}

In [3]:
students = {1 : "Aram", 
            2 : "Ehsan",
            3: "Hoori",
            4: "Zahra"}

In [4]:
# 2
book = dict(name = "Python 3", pages = 200, author_name = "Yalda", author_family = "Oji", ISSN = 25431889)

In [5]:
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

In [6]:
# empty dictionary

# dict_1 = {}
# dict_2 = dict()

## `type()`

In [7]:
print("type(student) is", type(student))
print("type(students) is", type(students))
print("type(book) is", type(book))

type(student) is <class 'dict'>
type(students) is <class 'dict'>
type(book) is <class 'dict'>

## `Length`

In [8]:
len(student)

5

----------------------------------------

## 1. Dictionariy items are `Ordered`

In [9]:
print(student)

{'name': 'Aram', 'age': 25, 'is_student': True, 'city': 'Isfahan', 'grade': 18.75}

In [10]:
student['name']

'Aram'

In [11]:
# XXXX

student[0]

KeyError: 0

In [12]:
students[1]

'Aram'

In [13]:
student.get('age')

# student['age']

25

In [14]:
students.get(3)

'Hoori'

In [15]:
s_key = student.keys()
print('s_key ->', s_key)
print("-"*20)
print('type(s_key) ->', type(s_key))

s_key -> dict_keys(['name', 'age', 'is_student', 'city', 'grade'])
--------------------
type(s_key) -> <class 'dict_keys'>

In [16]:
# {'name': 'Aram', 
# 'age': 25, 
# 'is_student': True, 
# 'city': 'Isfahan', 
# 'grade': 18.75}

s_val = student.values()
print('s_val ->', s_val)
print("-"*20)
print('type(s_val) ->', type(s_val))

s_val -> dict_values(['Aram', 25, True, 'Isfahan', 18.75])
--------------------
type(s_val) -> <class 'dict_values'>

In [17]:
s_items = student.items()
print('s_items ->', s_items)
print("-"*20)
print('type(s_items) ->', type(s_items))

s_items -> dict_items([('name', 'Aram'), ('age', 25), ('is_student', True), ('city', 'Isfahan'), ('grade', 18.75)])
--------------------
type(s_items) -> <class 'dict_items'>

## 2. `Duplicate keys` can not be in dictionaries

In [18]:
# Duplicate key
course = {'c_name' : 'Python',
          'c_name' : 'SQL'}
print(course)

{'c_name': 'SQL'}

In [19]:
# Duplicate value
course_2 = {'c_name_1' : 'Python',
            'c_name_2' : 'Python'}
print(course_2)

{'c_name_1': 'Python', 'c_name_2': 'Python'}

## 3. Dictionariy items are `Changeable`

Changeable means:
- change
- add
- remove

## `Change items`

In [20]:
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

In [21]:
book_2 = book

# 1
book_3 = book.copy()
# 2
book_4 = dict(book)

In [22]:
book['pages'] = 500
print('New book dict ->', book)
print("-"*30)
print('Second copy ->', book_2)
print('Third copy ->', book_3)
print('Fourth copy ->', book_4)

New book dict -> {'name': 'Python 3', 'pages': 500, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}
------------------------------
Second copy -> {'name': 'Python 3', 'pages': 500, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}
Third copy -> {'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}
Fourth copy -> {'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

In [23]:
book.update({'pages' : 300})
print(book)

{'name': 'Python 3', 'pages': 300, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

## `Add items`

In [24]:
# 1
book = book_3.copy()
book['price'] = 100000
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889, 'price': 100000}

In [25]:
# 2 -> update()
book = book_3.copy()
print(book)
print("-"*30)
book.update({'price' : 250000})
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}
------------------------------
{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889, 'price': 250000}

## `Remove items`

In [26]:
book = book_3.copy()
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

In [27]:
# pop()
tmp = book.pop('author_name')
print('book ->', book)
print("-"*30)
print('tmp ->', tmp)

book -> {'name': 'Python 3', 'pages': 200, 'author_family': 'Oji', 'ISSN': 25431889}
------------------------------
tmp -> Yalda

In [28]:
tmp_2 = book.pop()

TypeError: pop expected at least 1 argument, got 0

In [29]:
print(book)

{'name': 'Python 3', 'pages': 200, 'author_family': 'Oji', 'ISSN': 25431889}

In [30]:
# popitem()
tmp_3 = book.popitem()
print('book ->', book)
print("-"*30)
print('tmp_3 ->', tmp_3)

book -> {'name': 'Python 3', 'pages': 200, 'author_family': 'Oji'}
------------------------------
tmp_3 -> ('ISSN', 25431889)

In [31]:
del book['name']
print(book)

{'pages': 200, 'author_family': 'Oji'}

In [32]:
del book
print(book)

NameError: name 'book' is not defined

In [33]:
book = book_3.copy()
book.clear()
print('book ->', book)

book -> {}

------------------------------------------------------------------------

## `Check item in dictionary`

In [34]:
book = book_3.copy()
print(book)

{'name': 'Python 3', 'pages': 200, 'author_name': 'Yalda', 'author_family': 'Oji', 'ISSN': 25431889}

In [35]:
'ISSN' in book

True

## `Nested dictionary`

In [36]:
# 1

course_1 = {
    'c_name' : 'PowerBI',
    'class_pop' : 20
}
    
course_2 = {
    'c_name' : 'R',
    'class_pop' : 19
}
    
course_3 = {
    'c_name' : 'Deep learning',
    'class_pop' : 15
}
    
course_4 = {
    'c_name' : 'Big data',
    'class_pop' : 22
}

# ----------------------
courses = {
    'c_1' : course_1,
    'c_2' : course_2,
    'c_3' : course_3,
    'c_4' : course_4
}

print('type(courses)', type(courses))

type(courses) <class 'dict'>

In [37]:
courses

{'c_1': {'c_name': 'PowerBI', 'class_pop': 20},
 'c_2': {'c_name': 'R', 'class_pop': 19},
 'c_3': {'c_name': 'Deep learning', 'class_pop': 15},
 'c_4': {'c_name': 'Big data', 'class_pop': 22}}

In [38]:
courses.clear()

In [39]:
# 2

courses = {
    'c_1': {
        'c_name' : 'PowerBI',
        'class_pop' : 20
    },
    'c_2': {
        'c_name' : 'R',
        'class_pop' : 19
    },
    'c_3': {
        'c_name' : 'Deep learning',
        'class_pop' : 15
    },
    'c_4': {
        'c_name' : 'Big data',
        'class_pop' : 22
    }
}

print('type(courses)', type(courses))

type(courses) <class 'dict'>

In [40]:
courses

{'c_1': {'c_name': 'PowerBI', 'class_pop': 20},
 'c_2': {'c_name': 'R', 'class_pop': 19},
 'c_3': {'c_name': 'Deep learning', 'class_pop': 15},
 'c_4': {'c_name': 'Big data', 'class_pop': 22}}

In [49]:
# courses['c_1']

courses.get('c_1')

{'c_name': 'PowerBI', 'class_pop': 20}

In [42]:
courses['c_1']['c_name']

'PowerBI'

In [43]:
c_key = courses.keys()
print('c_key ->', c_key)

c_key -> dict_keys(['c_1', 'c_2', 'c_3', 'c_4'])

In [44]:
c_key_2 = courses['c_1'].keys()
print('c_key_2 ->', c_key_2)


# new_dict = courses['c_1']
# c_key_2 = new_dict.keys()
# print('c_key_2 ->', c_key_2)

c_key_2 -> dict_keys(['c_name', 'class_pop'])

In [45]:
c_value = courses.values()
print('c_value ->', c_value)

c_value -> dict_values([{'c_name': 'PowerBI', 'class_pop': 20}, {'c_name': 'R', 'class_pop': 19}, {'c_name': 'Deep learning', 'class_pop': 15}, {'c_name': 'Big data', 'class_pop': 22}])

In [46]:
c_items = courses.items()
print('c_items ->', c_items)

c_items -> dict_items([('c_1', {'c_name': 'PowerBI', 'class_pop': 20}), ('c_2', {'c_name': 'R', 'class_pop': 19}), ('c_3', {'c_name': 'Deep learning', 'class_pop': 15}), ('c_4', {'c_name': 'Big data', 'class_pop': 22})])

-------------------------------------------------

More method for dictionary -> https://www.w3schools.com/python/python_dictionaries_methods.asp

## `Simple practice`

In [40]:
laptop = {'brand': 'ASUS',
          'model' : 'FX506LH',
          'CPU' : 'Core i5 10300H',
          'RAM' : 16,
          'Hard' : 512}

- مدل لپ تاپ را برگردانید 
--------------------------------------------------

- برند را به لنوو تغییر دهید
--------------------------------------------------

- کلیدهای دیکشنری مذکور را چاپ کنید
--------------------------------------------------

- اندازه صفحه نمایش لپ تاپ را 15.6 در نظر گرفته و به دیکشنری اضافه کنید
--------------------------------------------------

- آخرین آیتم را از دیکشنری مذکور حذف نمایید 

--------------------------------------------------

- دیکشنری اولیه را در نظر بگیرید (بهتر است از تایع کپی بهره بگیرید) و آن را به صورت تو در تو گسترش داده و مشخصات دو مدل لپ تاپ دیگر را نیز به آن اضافه کنید
--------------------------------------------------